/* .body-main{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
} */

.section-container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 1rem;
}

.card {
    border: none !important;
}

.card-text {
    font-family: 'Poppins', sans-serif !important;
    color: #78716c !important;
    font-weight: 500;
}

.room-price {
    font-family: 'Poppins', sans-serif !important;
    color: #78716c !important;
    font-weight: 600;

}

.card-title {
    color: #0c0a09;
    font-weight: 500;
    font-family: 'Poppins', sans-serif !important;

}

.card-text p {
    margin-top: 8px;
    font-weight: 600;
}

.card-body p b {
    color: #000000;
    font-weight: 500;
}

.card-main {
    display: flex;
    justify-content: flex-start;
}

.room-subheader {
    margin-bottom: 0.5rem !important;
    font-weight: 600;
    letter-spacing: 2px;
    color: #0c0a09;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
    /* margin-right: 876px; */
    margin-top: 10px;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: all, opacity 1s cubic-bezier(0.5, 0, 0, 1) 0.5s, transform 1s cubic-bezier(0.5, 0, 0, 1) 0.5s;

}

.card-img-container {
    position: relative;
    isolation: isolate;
}

.room__card__icons {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 1;
}

.room__card__icons span:nth-child(1) {
    color: #f472b6;
}

.ri-paint-fill:before {
    content: "\efc2";
}

.room__card__icons span:nth-child(3) {
    color: #60a5fa;
}

.room__card__icons span:nth-child(2) {
    color: #c084fc;
}

.ri-shield-star-line:before {
    content: "\f10a";
}

.room__card__icons span {
    display: inline-block;
    padding: 2px 8px;
    font-size: 1.5rem;
    background-color: #ffffff;
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.ri-heart-fill:before {
    content: "\ee0e";
}

.room-subheader::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translate(1rem, -50%);
    height: 2px;
    width: 4rem;
    background-color: #e82574;
}




.room-header {
    max-width: 600px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
    color: #0c0a09;
}



.room-card {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: all, opacity 1s cubic-bezier(0.5, 0, 0, 1), transform 1s cubic-bezier(0.5, 0, 0, 1);
    overflow: hidden;
    border-radius: 10px;
    border: 1px !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.room-card-image {
    position: relative;
    isolation: isolate;
}

img {

    display: flex;
    overflow: clip;
}

.room-grid {

    margin-top: 4rem;
    display: grid;
    gap: 1rem;

}

@media (width > 576px) {
    .room-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (width > 768px) {
    .room-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width > 1024px) {
    .room-grid {
        gap: 2rem;
    }
}